*,
::before,
::after
	box-sizing: border-box

html,
body
	font:
		family: 'Lato'
		size: 18px
	line-height: 1.628
	word-break: break-all
	white-space: nowrap
	white-space: initial

html,
body,
button,
p
	margin: 0
	padding: 0
	outline: 0

a
	text-decoration: none

main#App,
.container
	display: flex
	flex:
		flow: column nowrap

.container
	max-width: 80%
	margin:
		left: auto
		right: auto

h1,
h2,
h3,
h4,
h5,
h6,
ul
	padding: 5px 0
	padding:
		inline-start: 0
	margin:
		block-start: 0
		block-end: 0
		inline-start: 0
		inline-end: 0

form input,
form button,
form textarea
	outline: 0
