
form
    display: flex
    flex:
        flow: column nowrap

form input,
form button
    width: 100%
    border: none
    border-radius: 2px
    margin: 5px 0
    padding: 15px
    background-color: #FDFEFE

    box-shadow: 0 5px 0 #D0D3D4

    transition: all 250ms ease

form input:hover,
form button:hover
    background-color: #F0F3F4

form input:focus,
form button:focus
    background-color: #FDFEFE
    box-shadow: 0 5px 0 #bbbdbe

input.invalid
    border-color: #CD6155

input.valid
    border-color: #52BE80