
header
    ul
        margin: 0 1rem
        list-style-type: none

        li
            float: left
            margin: 0 1rem

            a
                color: #e4e8e8

                &:hover
                    color: #f2f4f4
    