
$main: 'rgb(246, 88, 70)'
$shadow: 'rgb(196,70,56)'

$Menu: "header > .container > .Menu"
$Li: "header > .container > .Menu li"
$A: "header > .container > .Menu li a"
$LoggedOut: "header > .container > .Menu > #Logged--Out"
$Forms: "header > .container > .Menu > #Logged--Out > .Forms"

header
    position: fixed
    width: 100%
    padding: 15px 0

    background-color: #{ $main }

header > .container
    padding: 0 15px
    justify-content: center
    align-items: center

#{ $Menu }
    display: flex
    flex:
        flow: row nowrap
    list-style-type: none

#{ $LoggedOut }
    display: flex
    flex-flow: column nowrap
    position: absolute
    min-width: 320px
    padding: 15px 25px
    border:
        bottom: 5px solid #{ $shadow }
    border-radius: 3px

    top: 25px
    right: 15px

    background-color: #{ $main }

    box-shadow: 0 5px 5px -5px #212121
    transition: all 500ms ease


#{ $Forms }

    &> .Actions
        display: flex
        flex-flow: row nowrap
        justify-content: center
        align-items: center

    & h1,
    & h2,
    & h3,
    & h4,
    & h5
        text-align: center
        color: #FDFEFE

#{ $Li },
#{ $A }
    float: left
    display: block
    text-align: center

#{ $A }
    margin: 0 15px
    padding: 15px

    color: #FDFEFE